POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
DEBUG=
MAX_IMAGE_SIZE_MB=
secret_key=

GOOGLE_CLIENT_ID=
GOOGLE_SECRET_CLIENT=
GOOGLE_REDIRECT_URL=

GITHUB_CLIENT_ID=
GITHUB_SECRET_CLIENT=
GITHUB_REDIRECT_URL=

DISCORD_CLIENT_ID=
DISCORD_SECRET_CLIENT=
DISCORD_REDIRECT_URL=